.form-input{
  display: flex;
  margin: 10px;
  text-align: center;
}
.login-container{
  max-width: 600px;
  display: block;
  margin: auto;
  margin-top: 10rem;
  text-align: center;
}
.form-control{
  margin-left: 10px;
}
.form-control:focus {
  box-shadow: none;
  outline: none;
}
.alert{
  padding: 5px;
  margin-left: 90px;
  max-width: 500px;
}
